@import '../../vars.css';

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  color: var(--sub-header-bg);
  min-height: 100vh;
}