@import '../vars.css';

.Modal {
  background-color: white;
  border: 2px solid var(--bg);
  border-radius: 20px;
  width: 80vw;
  min-height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  padding: 5% 10%;
  margin: 0 5%;
  animation: zoomOut 300ms
}

.Modal h1 {
  color: var(--header-bg);
  width: 100%;
}

@keyframes zoomOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}